name: Publish Zarf Init Package On Tag

permissions:
  contents: read

on:
  push:
    branches: [ 'main' ]

env:
  # renovate: depName=zarf-dev/zarf
  ZARF_VERSION: 0.60.0

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: "Login to GHCR"
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Install tools
        uses: ./.github/actions/install-tools

      - name: Build image
        uses: ./.github/actions/build-image
        env:
          REGISTRY1_USERNAME: ${{ secrets.REGISTRY1_USERNAME }}
          REGISTRY1_PASSWORD: ${{ secrets.REGISTRY1_PASSWORD }}

      - name: ☁️ Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: arn:aws:iam::540894334194:role/github-actions/gh-ci-zarf-init-bigbang
          aws-region: us-east-1

      - name: "Sign and Publish the image"
        run: |
          zarf package publish build/zarf-init-amd64-v${ZARF_VERSION}.tar.zst oci://ghcr.io/radiusmethod/zarf-init-bigbang --signing-key awskms:///alias/zarf-init-bigbang
